body{
background-color: #858997;
margin-left: 10%;
font-family: sans-serif;
}

.form-popup{
  display:none;
}

img {
margin-left: 0%;
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnLogin{
   background-color: #ECECEC;
   border-radius: 3px;
   border: none;
}

#btnRegister{
  background-color: #ECECEC;
  border-radius: 3px;
  border: none;

}

textarea{
  font-family: sans-serif;
}
